.card-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.card-title {
  color: var(--text-main);
  font-size: 1.5rem;
  margin: 0;
}

.card-content {
  color: var(--text-secondary);
  flex-grow: 1;
}
